/*----------------------------------------------
    # Buttons style here
----------------------------------------------*/

.gt-btn {
    &.style1 {
        display: inline-block;
        position: relative;
        z-index: 99;
        overflow: hidden;
        font-family: $title-font;
        color: $white;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        border-radius: 999px;
        background: $btn-bg-color;
        padding: 18px 30px;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        @include breakpoint(max-xsmall) {
            font-size: 14px;
            line-height: 14px;
            padding: 14px 20px;
        }

        a {
            color: $white !important;
            display: inline-block;
        }

        i {
            margin-left: 6px;
        }

        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $theme-color;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }

        &:hover {
            color: $white !important;
            border: 1px solid $theme-color;

            &.gt-btn-icon-1 {
                &::after {
                    color: $white;
                }
            }

            &:before {
                top: -96%;
            }
        }
    }

    &.style2 {
        display: inline-block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        font-family: $title-font;
        color: $black;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        border-radius: 999px;
        background: $theme-color-2;
        padding: 20px 30px;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        @include breakpoint(max-xsmall) {
            font-size: 14px;
            line-height: 14px;
            padding: 14px 20px;
        }


        a {
            color: $white !important;
            display: inline-block;
        }

        i {
            margin-left: 6px;
        }

        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $theme-color;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }

        &:hover {
            color: $black !important;
            border: 1px solid $theme-color;

            &.gt-btn-icon-2 {
                &::after {
                    color: $black;
                }
            }

            &:before {
                top: -96%;
            }
        }
    }

    &.style3 {
        display: inline-block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        font-family: $title-font;
        color: $white;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        border-radius: 999px;
        background: $black;
        padding: 20px 30px;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        @include breakpoint(max-xsmall) {
            font-size: 14px;
            line-height: 14px;
            padding: 14px 20px;
        }


        a {
            color: $white !important;
            display: inline-block;
        }

        i {
            margin-left: 6px;
        }

        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $theme-color;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }

        &:hover {
            color: $white !important;
            border: 1px solid $theme-color;

            &.gt-btn-icon-2 {
                &::after {
                    color: $black;
                }
            }

            &:before {
                top: -96%;
            }
        }
    }

    &.style4 {
        display: inline-block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        font-family: $title-font;
        color: $black;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        border-radius: 999px;
        background: $theme-color;
        padding: 20px 30px;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        @include breakpoint(max-xsmall) {
            font-size: 14px;
            line-height: 14px;
            padding: 14px 20px;
        }


        a {
            color: $white !important;
            display: inline-block;
        }

        i {
            margin-left: 6px;
        }

        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $black;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }

        &:hover {
            color: $white !important;
            border: 1px solid $theme-color;

            &.gt-btn-icon-2 {
                &::after {
                    color: $white;
                }
            }

            &:before {
                top: -96%;
            }
        }
    }

    &.style5 {
        color: $white;
        font-family: $title-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        @include breakpoint(max-xsmall) {
            font-size: 14px;
            line-height: 14px;
            padding: 14px 20px;
        }

        &:hover{
            color: $theme-color !important;
            &.gt-btn-icon-1 {
                &::after {
                    color: $theme-color  !important;
                }
            }
            &.gt-btn-icon-3 {
                &::before {
                    color: $theme-color !important;
                }
            }
        }
    }
    &.style6 {
        color: $black;
        font-family: $title-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        @include breakpoint(max-xsmall) {
            font-size: 14px;
            line-height: 14px;
            padding: 14px 20px;
        }

        &:hover{
            color: $theme-color !important;
            &.gt-btn-icon-2 {
                &::after {
                    color: $theme-color I !important;
                }
            }
        }
    }

    &-icon-1 {
        &::after {
            content: "\e3d5";
            position: relative;
            color: $white;
            font-family: "Font Awesome 6 Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            margin-left: 10px;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
        }
    }

    &-icon-2 {
        &::after {
            content: "\e3d5";
            position: relative;
            color: $black;
            font-family: "Font Awesome 6 Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            margin-left: 10px;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
        }
    }

    &-icon-3 {
        &::before {
            content: "\e3d4";
            position: relative;
            color: $white;
            font-family: "Font Awesome 6 Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            margin-right: 10px;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
        }
    }
}